@import "tailwindcss";

:root {
  --primary: #F1F0EC;
  --secondary: #036734;
  /* nav buttons light */
  --primary-light: #1CE585;

  --foreground: #F1F0EC;
  --background: var(--primary);

  --white: #F1F0EC;
  --black: #190F0A;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: var(--font-aileron);
  --font-secondary: var(--font-aileron);
  --font-tertiary: var(--font-aileron);
  --font-navlogo: var(--font-navLogo);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #F1F0EC;
    --background: var(--primary);
    --foreground: #F1F0EC;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}